/*! main.css */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  color: #181818;
}

.container{
  width: 880px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.top-bar{
  padding: 15px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.top-bar .title{
  font-weight: bold;
}

.top-bar .menu{
  margin: 0;
  padding: 0;
  float: right;
}

.top-bar .menu .item{
  float: left;
}

.top-bar .menu .item a{
  text-decoration: none;
  color: #181818;
  padding: 0 7.5px 0 7.5px;
}

.top-bar .menu .item a:hover{
  text-decoration: underline;
}

.tileset-bases{
  border-bottom: 1px solid #ccc;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.tileset-bases {
  font-size: 0;
}

.tileset-bases .base{
  padding: 15px;
  border-right: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  color: #AFAFAF;
  font-size: 16px;
  position: relative;
}

.tileset-bases .add{

}

.tileset-bases .base .remove{
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 0;
  font-size: 14px;
  white-space: normal;
  line-height: 14px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  visibility: hidden;
  cursor: pointer;
  cursor: pointer;
}

.tileset-bases .base .remove:hover {

  color: #5E5E5E;
  background: #e3e3e3;
}

.tileset-bases .base:hover > .remove{

  visibility: visible;

}

.tileset-bases .add:hover{
  color: #5E5E5E;
  cursor: pointer;
  background: #e3e3e3;
}

.file-input{
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.config{
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.tilesets-container{
  /*width: 320px;*/
  overflow-y: auto;
  height: 350px;
  padding: 15px;
}

#tilesets{
  margin: 0 auto;
  display: block;
}

#form-tilesize{
  width: 64px;
}

.download{
  float: right;
  background: #fff;
  border: 1px solid #ccc;
  padding: 2px;
}

.modal{
  position: absolute;
  width: 870px;
  height: 560px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255,255,255,0.95);
  border: 1px solid #ccc;
  display: none;
  overflow-y: auto;
}

.modal h2{
  text-align: center;
}

.modal p{
  padding: 0 30px;
  line-height: 1.5;
}

.modal .close{
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  line-height: 30px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  color: #ccc;
}

.modal .close:hover {

  color: #5E5E5E;
  background: #e3e3e3;

}
