/*! main.css */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  color: #181818;
}

.container{
  width: 880px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.top-bar{
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.top-bar .title{
  font-weight: bold;
}

.top-bar .menu{
  margin: 0;
  padding: 0;
  float: right;
}

.top-bar .menu .item{
  float: left;
}

.top-bar .menu .item a{
  text-decoration: none;
  color: #181818;
  padding: 0 7.5px 0 7.5px;
}

.top-bar .menu .item a:hover{
  text-decoration: underline;
}

.tileset-bases{
  border-bottom: 1px solid #ccc;
  height: 120px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.tileset-bases .base{
  white-space: normal;
  padding: 15px;
  border-right: 1px solid #ccc;
  height: 120px;
  width: 210px;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 90px;
  color: #AFAFAF;
}

.tileset-bases .add{
}

.tileset-bases .add:hover{
  color: #5E5E5E;
  cursor: pointer;
  background: #e3e3e3;
}